.wrapper
  .col-1(style='background: #333')
    col-1

  .col-2(style='background: #444')
    col-2
  .col-2(style='background: #444')
    col-2

  .col-3(style='background: #555')
    col-3
  .col-3(style='background: #555')
    col-3
  .col-3(style='background: #555')
    col-3

  .col-4(style='background: #666')
    col-4
  .col-4(style='background: #666')
    col-4
  .col-4(style='background: #666')
    col-4
  .col-4(style='background: #666')
    col-4

  .col-5(style='background: #777')
    col-5
  .col-5(style='background: #777')
    col-5
  .col-5(style='background: #777')
    col-5
  .col-5(style='background: #777')
    col-5
  .col-5(style='background: #777')
    col-5

  .col-6(style='background: #888')
    col-6
  .col-6(style='background: #888')
    col-6
  .col-6(style='background: #888')
    col-6
  .col-6(style='background: #888')
    col-6
  .col-6(style='background: #888')
    col-6
  .col-6(style='background: #888')
    col-6

  .col-7(style='background: #999')
    col-7
  .col-7(style='background: #999')
    col-7
  .col-7(style='background: #999')
    col-7
  .col-7(style='background: #999')
    col-7
  .col-7(style='background: #999')
    col-7
  .col-7(style='background: #999')
    col-7
  .col-7(style='background: #999')
    col-7

  .col-8(style='background: #222')
    col-8
  .col-8(style='background: #222')
    col-8
  .col-8(style='background: #222')
    col-8
  .col-8(style='background: #222')
    col-8
  .col-8(style='background: #222')
    col-8
  .col-8(style='background: #222')
    col-8
  .col-8(style='background: #222')
    col-8
  .col-8(style='background: #222')
    col-8

  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9
  .col-9(style='background: #333')
    col-9

  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10
  .col-10(style='background: #444')
    col-10

  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11
  .col-11(style='background: #555')
    col-11

  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
  .col-12(style='background: #666')
    col-12
