.wrapper
  .col-2.center
    .inner
      %form
        %label{for: "input_title"} Title
        %input{name: "input_title", type: "text"}

        %label{for: "input_price"} Price U$D
        %input{name: "input_price", type: "number"}

        %label{for: "input_date"} Date
        %input{name: "input_date", type: "date"}

        %button.default{type: "reset"} Reset
        %button.success{type: "submit"} Add
