.wrapper
  .col-2.center
    .inner
      %form
        %label{for: "input_title"} Title
        %input{name: "input_title", type: "text"}

        %label{for: "input_price"} Price U$D
        %input{name: "input_price", type: "number"}

        %label{for: "input_date"} Date
        %input{name: "input_date", type: "date"}

        %label{for: "input_group"} Group
        %select
          %option{value: "1"} Myself
          %option{value: "2"} Home
          %option{value: "3"} Best Friends
          %option{value: "3"} Work

        .wrapper
          %button.default.right{type: "reset"} Reset
          %button.success{type: "submit"} Add
