.wrapper
  .col-1
    %ul.groups-list
      %li.status-positive
        .groups-list-header
          %h3 Myself
          %span 1 member
        %p.groups-budget Budget: 16600

      %li.status-positive
        .groups-list-header
          %h3 Home
          %span 2 members
        %p.groups-budget Budget: 5000

      %li.status-negative
        .groups-list-header
          %h3 Best Friends
          %span 8 members
        %p.groups-budget Budget: 1500

      %li.status-positive
        .groups-list-header
          %h3 Work
          %span 20 members
        %p.groups-budget Budget: No budget
