%form.user-signin
  %h2 Please sign in
  %label{:for => "inputEmail"} Email address
  %input{:autofocus => "", :placeholder => "Email address", :required => "", :type => "email"}
  %label{:for => "inputPassword"} Password
  %input{:placeholder => "Password", :required => "", :type => "password"}
  .checkbox
    %label
      %input{:type => "checkbox", :value => "remember-me"}
      Remember me
  %button.default{:type => "submit"} Sign in
