//  Partial Content ========
//  01. Color Palette
//  02. Navigation
//  03. Inputs
//  04. Margins
//  ========================


//  01. Color Palette
$color-success: #8DC63F
$color-error: #C63F3F
$color-info: #3FB5C6
$color-default: #EEE
$color-off-white: #EEEFF0
$color-bg: #EEEFF0
$color-primary: #A642DC

//  02. Navigation
$color-navigation-bg: #13131C
$color-navigation-font: #FFF

//  03. Inputs
$color-input-bg: #FAFAFA
$color-input-border: #CCC

//  03. Margins
$global-margin: 1.25em
