//  Partial Content ========
//  01. Color Palette
//  02. Margins
//  ========================


//  01. Color Palette
$color-success: #8DC63F
$color-error: red
$color-info: lightblue
$color-default: lightgray
$color-off-white: #EEEFF0
$color-navigation-bg: #13131C

//  02. Margins
$global-margin: 20px
