//  Partial Content ========
//  01. Buttons
//  ========================


//  01. Buttons
button, .button
  display: inline-block
  padding: 5px 12px
  cursor: pointer
  font-size: 13px
  color: #FFF
  border: none
  border-radius: 2px
  &.success
    background: $color-success
    &:hover
      background: darkgreen
  &.error
    background: red
    &:hover
      background: darkred
  &.info
    background: lightblue
    &:hover
      background: blue
  &.default
    background: lightgray
    &:hover
      background: gray
