!!! 5
%html{ lang: "en" }
  %head
    %title= "Tokyo App"
    %link{ charset: "utf-8", href: "/assets/third_party/normalize.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %link{ charset: "utf-8", href: "/assets/application.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %meta{ name: "description", content: "{{meta_description}}" }
    %meta{ name: "HandheldFriendly", content: "True" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

  %body
    %header
      %h1 Tokyo App
    %form.user-signin
      %h2 Please sign in
      %label{:for => "inputEmail"} Email address
      %input{:autofocus => "", :placeholder => "Email address", :required => "", :type => "email"}
      %label{:for => "inputPassword"} Password
      %input{:placeholder => "Password", :required => "", :type => "password"}
      .checkbox
        %label
          %input{:type => "checkbox", :value => "remember-me"}
          Remember me
      %button.default{:type => "submit"} Sign in


    %script{ type: "text/javascript", src: "/assets/application.js" }
