!!! 5
%html{ lang: "en" }
  %head
    %title= "Tokyo App"
    %link{ charset: "utf-8", href: "/assets/third_party/normalize.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %link{ charset: "utf-8", href: "/assets/application.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %meta{ name: "description", content: "{{meta_description}}" }
    %meta{ name: "HandheldFriendly", content: "True" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

  %body
    .navigation
      .brand
        Tokyo
      .current-user
        %a{:href => "#"}
          %img{:src => "https://d13yacurqjgara.cloudfront.net/users/21415/avatars/normal/image.jpg?1393702037", :alt => ""}

    %form.form-user-expenses
      %input{:type => "text"}
      %label{:for => "input"}
        %span Title

      %input{:type => "text"}
      %label{:for => "input"}
        %span Price U$D

      %input{:type => "text"}
      %label{:for => "input"}
        %span Date

      %button.default{:type => "reset"} Reset
      %button.success{:type => "submit"} Add

    %script{ type: "text/javascript", src: "/assets/application.js" }
