!!! 5
%html{ lang: "en" }
  %head
    %title= "Tokyo App"
    %link{ charset: "utf-8", href: "/assets/third_party/normalize.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %link{ charset: "utf-8", href: "/assets/application.css", media: "screen", rel: "stylesheet", type: "text/css" }
    %meta{ name: "description", content: "{{meta_description}}" }
    %meta{ name: "HandheldFriendly", content: "True" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

  %body
    %header
      %h1 Tokyo App

    %form.user-expenses-form
      %h2 Add Outgoing
      %label{:for => "inputName"} Name
      %input{:autofocus => "", :placeholder => "Name", :required => "", :type => "text"}
      %label{:for => "inputPrice"} Price
      %input{:placeholder => "Price", :required => "", :type => "number"}
      %label{:for => "inputDate"} Date
      %input{:placeholder => "Date", :required => "", :type => "date"}
      %button.default{:type => "reset"} Reset
      %button.success{:type => "submit"} Add


    %script{ type: "text/javascript", src: "/assets/application.js" }
