!!! 5
%html{ lang: "en" }
  %head
    %title= "Tokyo App"
    %link{ charset: "utf-8", href: "/assets/application.css", media: "screen", rel: "stylesheet", type: "text/css" }
  %body
    %header
      %h1 Tokyo App

    %script{ type: "text/javascript", src: "/assets/application.js" }
